*.iml
.gradle
.gradle/
/local.properties
/.idea/
.idea/
.idea/*
/.idea
.idea
*.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
bin/
gen/
out/
proguard/
*.log
*.apk
*.ser
*.jks
*.keystore